.container {
    position: relative;
  }

.img-fluid {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
}

.winnie-top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 10px;
    left: 45%;
    width: 380px;
    height: 250px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000;
    /* border: 3px solid green; */
}

.winnie-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 45%;
    width: 380px;
    height: 250px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000;
    /* border: 3px solid green; */
}

.fry-top{
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 20px;
    left: 30px;
    width: 94%;
    height: auto;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000;
    /* border: 3px solid green; */
}

.fry-bottom{
    position: absolute;
    justify-content: center;
    text-align: center;
    bottom: 10px;
    left: 30px;
    width: 94%;
    height: auto;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000;
    /* border: 3px solid green; */
}

.panik-top {
  position: absolute;
  justify-content: center;
  text-align: center;
  left: 30px;
  top: 20px;
  width: 50%;
  height: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  border: 3px solid green;
}

.panik-center {
  position: absolute;
  justify-content: center;
  text-align: center;
  left: 30px;
  top: 120px;
  width: 50%;
  height: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  border: 3px solid green;
}

.panik-bottom {
  position: absolute;
  justify-content: center;
  text-align: center;
  left: 30px;
  bottom: 100px;
  width: 50%;
  height: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  border: 3px solid green;
}

.cmm-text{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 45%;
  bottom: 30%;
  width: 30%;
  height: 100px;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  /* border: 3px solid green; */
  transform: rotate(-20deg);
}

.cb-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 38%;
  top: 12%;
  width: 24%;
  height: 29%;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  /* border: 3px solid green; */
}

.pigeon-top {
  position: absolute;
  justify-content: center;
  text-align: center;
  left: 17%;
  top: 12%;
  width: 25%;
  height: auto;
  font-size: 2.5em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  /* border: 3px solid green; */
}

.pigeon-center {
  position: absolute;
  justify-content: center;
  text-align: center;
  left: 70%;
  top: 32%;
  width: 25%;
  height: auto;
  font-size: 2.5em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  /* border: 3px solid green; */
}

.pigeon-bottom {
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 94%;
  left: 30px;
  bottom: 10px;
  height: auto;
  font-size: 2.5em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  /* border: 3px solid green; */
}

.exit-left{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 25%;
  top: 14%;
  width: 15%;
  height: 20%;
  font-size: 1em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  /* border: 3px solid green; */
}

.exit-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 52%;
  top: 14%;
  width: 20%;
  height: 20%;
  font-size: 1em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  /* border: 3px solid green; */
}

.exit-bottom {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  width: 25%;
  left: 45%;
  bottom: 5%;
  height: 15%;
  font-size: 1em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000;
  transform: rotate(-12deg);
  /* border: 3px solid green; */
}

.fixed-right-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
  }

  .Black {
    color: black;
  }

  .White {
    color: white;
  }

  .Red {
    color: red;
  }

  .Blue {
    color: blue;
  }

  .Impact {
    font-family: impact;
  }

  .Arial {
    font-family: Arial, Helvetica, sans-serif;;
  }

  #app_name{
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
  }

  #welcome_message {
    font-weight: bold;
    color: white;
  }

  #title {
    /* border: 3px solid green; */
    font-size: 3em;
    text-align: center;
    line-height: 2;
  }

  #author {
    /* border: 3px solid green; */
    font-size: 2em;
    text-align: center; 
    line-height: 2;
  }

  #edit_buttons {
    /* border: 3px solid green; */
    text-align: center; 
    line-height: 4;
  }

  #visibility {
    /* border: 3px solid green; */
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }

